@charset 'utf-8';
@import 'mixins';
@include font-face('Nanum Gothic', '..fonts/nanum-gothic');

$bg-color: #f8f8ff;
$fg-color: #000;
$del-color: #8b0000;

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: $bg-color;
  color: $fg-color;
  font-family: 'Noto Sans', sans-serif;
  font-size: 2vmax;
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

button {
  background-color: inherit;
  border-color: $fg-color;
  border-radius: 0.1rem;
  border-style: solid transparent;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  :hover {
    background-color: lighten($fg-color, 50%);
  }
}

select {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  width: 50%;
}

option {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.container {
  font-size: 5vmax;
  margin: auto;
  position: relative;
  text-align: center;
  top: 70px;
  width: 66vw;
}

.container-small {
  font-size: 1vmax;
  margin: auto;
  position: flex;
  text-align: center;
  top: 70px;
  width: 66vw;
}

.delete-checkbox {
  i {
    color: $del-color;
    padding: 1vw;
    :hover {
      color: lighten($del-color, 10%);
    }
  }
  input[type='checkbox'] {
    display: none;
    :checked ~.checked {
      display: inline-block;
    }
  }
  label {
    vertical-align: middle;
  }
  .checked {
    display: none;
  }
}

.select-block-upper {
  margin: auto;
  width: 85vw;
  span {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
}

.select-block-lower  {
  margin: auto;
  width: 85vw;
  select {
    width: 15.5%;
  }
}

.select-data-range {
  i {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
  span {
    padding-left: 7.5%;
    padding-right: 3%;
  }
}

.select-data-year {
  span {
    padding-left: 7.5%;
    padding-right: 14%;
  }
}

.search-countries {
  margin: auto;
  width: 85vw;
  input[type='search'] {
    display: inline-block;
    font-family: inherit;
    width: 50%;
  }
  span {
    padding-left: 7.5%;
    padding-right: 10.5%;
  }
}

.container-include-checkbox {
  margin: auto;
  padding-left: 7.5%;
  padding-right: 5%;
}

.container-add-button {
  margin: auto;
  width: 85%;
}
